/* Base */
* { box-sizing: border-box; }
p,h1,h2,h3,h4,h5 { padding: 0; margin: 0; }

a, a:visited, a:hover {
  color: #0288d1;
}

body {
  border-top: 16px solid #209bc7;
  color: rgba(0,0,0,0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: calc(15px + 7 * ((100vw - 500px) / 900));
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Layout */
.ons-lc {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 2rem;
}

/* Header module */
.ons-nb {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.ons-hi {
  padding-right: 30px;
}

.ons-nl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: rgba(0,0,0,.86);
}

.ons-nl li {
  padding: 12px 24px;
}

.ons-nl li a {
  color: rgba(0, 0, 0, 0.63);
  font-size: 1.2rem;
  text-decoration: none;
}

.ons-nl li a:hover {
  text-decoration: underline;
}

@media(max-width: 380px) {
  .ons-nl li a {
    font-size: 1rem;
  }
}

@media(min-width: 1000px) {
  .ons-lc {
    padding: 0 6rem;
  }
}


/** item.css **/
.ons-i h2 {
  padding: 1rem 0;
}

.ons-fl {
  font-weight: lighter;
}

.ons-c {
  padding: 1rem 0 0;
  font-size: 1rem;
}
.ons-cl .ons-cl {
  margin-left: .5rem
}
.ons-c p,
.ons-ch {
  margin-bottom: .8rem;
  word-break: break-word;
}
.ons-ct {
  padding-left: .5rem
}

.ons-c .ons-ch::before {
  content: '[-] ';
  cursor: pointer;
}
.ons-c .hidden.ons-ch::before {
  content: '[+] ';
}
.ons-c .hidden.ons-ch ~ .ons-cb {
  display:none;
}

/** stories.css **/
.ons-sl > article {
  border-bottom: 1px solid rgba(239, 239, 239, .8);
  display: flex;
  padding: 1rem 0;
}
.ons-sl > article:hover {
  background-color: rgba(0,0,0,.04);
}

.ons-sr {
  padding: 15px;
  width: 60px;
}

.ons-sr h2 {
  color: rgba(0, 0, 0, 0.63);
}

.ons-sd {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ons-sd h4 {
  font-weight: 400;
  padding: 4px 0;
}

.ons-sd h4 a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.ons-sm {
  font-size: 0.7rem;
}

.ons-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.1rem;
}

/** custom **/
.header-divider, .author-divider {
  height: 6px;
  background: url(/assets/images/hr-styled.png) repeat-x 0 0;
  border: 0;
}

.header-divider {
  margin: 0 0 24px 0;
}

.author-details {
  display: flex;
  flex-direction: row;
}

.author-avatar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.author-avatar img {
  border: 2px solid #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  height: 64px;
  width: 64px;
}

.author-divider {
  margin: 24px 0;
}

.author-text {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-left: 24px;
}

.author-text h2 {
  color: rgba(0,0,0,.86);
  font-weight: 400;
}

.author-text p {
  color: rgba(0,0,0,.54);
}

.articles-header {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.article-title {
  color: rgba(0,0,0,.86);
  font-weight: 400;
}

.article-byline {
  font-size: 18px;
  color: rgba(0,0,0,.54);
}

.article-text {
  font-size: 16px;
  margin-top: 24px;
}

app-nav {
  display: block;
  flex: 1 0;
}
