/* Base */
* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}

a, a:visited, a:hover {
  color: #209bc7;
}

body {
  border-top: 16px solid #209bc7;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: calc(15px + 7 * ((100vw - 500px) / 900));
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Layout */
.ons-lc {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* Header module */
.ons-logo {
  height: 64px;
  width: 64px;
}

.ons-nb {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.ons-hi {
  padding-right: 30px;
}

.ons-nl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: rgba(0, 0, 0, .86);
}

.ons-nl li {
  padding: 12px 24px;
}

.ons-nl li a {
  color: rgba(0, 0, 0, 0.63);
  font-size: 1.2rem;
  text-decoration: none;
}

.ons-nl li a:hover {
  text-decoration: underline;
}


/** item.css **/
.ons-i h2 {
  padding: 1rem 0;
}

.ons-fl {
  font-weight: lighter;
}

.ons-c {
  padding: 1rem 0 0;
  font-size: 1rem;
}

.ons-cl .ons-cl {
  margin-left: .5rem
}

.ons-c p,
.ons-ch {
  margin-bottom: .8rem;
  word-break: break-word;
}

.ons-ct {
  padding-left: .5rem
}

.ons-c .ons-ch::before {
  content: '[-] ';
  cursor: pointer;
}

.ons-c .hidden.ons-ch::before {
  content: '[+] ';
}

.ons-c .hidden.ons-ch ~ .ons-cb {
  display: none;
}

/** stories.css **/
.ons-sl > article {
  border-bottom: 1px solid rgba(239, 239, 239, .8);
  display: flex;
  padding: 1rem 0;
}

.ons-sl > article:hover {
  background-color: rgba(0, 0, 0, .04);
}

.ons-sr {
  padding: 15px;
  width: 60px;
}

.ons-sr h2 {
  color: rgba(0, 0, 0, 0.63);
}

.ons-sd {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ons-sd h4 {
  font-weight: 400;
  padding: 4px 0;
}

.ons-sd h4 a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.ons-sm {
  font-size: 0.7rem;
}

.ons-sm .inline-icon, .article-byline .inline-icon {
  width: 0.7rem;
  height: 0.7rem;
  color: rgba(0, 0, 0, .54);
}
.article-byline .inline-icon {
  margin-right: 4px;
}

.ons-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.1rem;
}
.ons-se {
  padding: 0 12px;
}

/** custom **/
.header-divider, .author-divider {
  height: 6px;
  background: url(/assets/images/hr-styled.png) repeat-x 0 0;
  border: 0;
}

.header-divider {
  margin: 0 0 24px 0;
}

.author-details {
  display: flex;
  flex-direction: row;
  padding: 24px 2rem;
  background-color: rgba(0,0,0,.08);
  margin: 0 -2rem 6px;
}

.author-avatar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.author-avatar-img {
  background-size: cover;
  background-position: center center;
  border: 2px solid #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  height: 64px;
  width: 64px;
}

.author-divider {
  margin: 24px 0;
}

.author-text {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-left: 24px;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.author-text h2 {
  color: rgba(0, 0, 0, .86);
  font-weight: 400;
}

.author-text p {
  color: rgba(0, 0, 0, .54);
}

article p {
  margin-bottom: 1.2em;
}

.articles-header {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.article-title {
  color: rgba(0, 0, 0, .86);
  font-weight: 400;
  font-size: 2em;
}

.article-byline {
  font-size: 18px;
  color: rgba(0, 0, 0, .54);
}

.article-byline span {
  margin-right: 12px;
}

.article-text {
  font-size: 16px;
  margin-top: 24px;
}

.comments-heading {
  padding-top: 12px;
}
.comment-details {
  display: flex;
  flex-direction: row;
  padding: 24px 2rem;
  background-color: rgba(0,0,0,.02);
  margin: 0 0 6px;
  border: rgba(0,0,0,.08);
  border-radius: 8px;
}

.comment-avatar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-right: 12px;
}

.comment-avatar-img {
  background-size: cover;
  background-position: center center;
  border: 2px solid #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  height: 36px;
  width: 36px;
}

.comment-text {
  font-size: .8em;
}
.comment-text h2 {
  font-size: 1.2em;
  font-weight: 500;
}
.comment-text small {
  color: lightgray;
}
.comments-auth {
  margin-bottom: 24px;
}
.comments-auth p {
  font-size: .6em;
}

app-nav {
  display: block;
  flex: 1 0;
}

.loading-template {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cssload-thecube {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #209bc7;
  animation: cssload-fold-thecube 1.2s infinite linear both;
  transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.145s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.3s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 0.445s;
}

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}


@media (max-width: 380px) {
  .ons-nl li a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .ons-lc {
    padding: 0 .7rem;
    width: 100%;
  }

  .ons-nb {
    padding: 12px;
  }

  .author-details {
    margin: 0 -.7rem 6px;
  }

  .article-byline span {
    display: block;
  }
}

@media (min-width: 1000px) {
  .ons-lc {
    padding: 0 6rem;
  }
}
