# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular/dist
/functions/node_modules
/functions/dist
/functions/index.js
/appengine/dist
/appengine/node_modules
/angular/tmp
/public

# dependencies
/angular/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/angular/coverage/*
/angular/libpeerconnection.log
npm-debug.log
testem.log
/angular/typings

# e2e
/angular/e2e/*.js
/angular/e2e/*.map

#System Files
.DS_Store
Thumbs.db
