# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/server.js
/functions/node_modules
/functions/lib
/tmp
/public

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.vscode
.classpath
.c9/
*.launch
.settings/
.firebase/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/overage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
