service cloud.firestore {
  match /databases/{database}/documents {
  	match /authors/{authorId} {
    	allow read;
    }
    match /profiles/{userId} {
    	allow read;
      allow write: if request.auth.uid == userId;
    }
    match /articles/{articleId} {
    	allow read;
      match /comments/{commentId} {
        allow read;
				allow write: if request.auth != null;
    	}
    }
  }
}
