service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read;
    }
    match /articles/{id}/comments/{document} {
      allow write;
    }
  }
}
